<html>
  <head>
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{ order.title }}</h1>
    <p>{{ order.currency }}</p>
    {% if discount %}
      {{ discount }}
    {%endif%}
    {% if discount %}
      {{ tax }}
    {%endif%}
    {% for item in items %}
        <p>item</p>
    {%endfor%}

    <button id="buy-button">Buy</button>

    <script type="text/javascript">
      var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
      var buyButton = document.getElementById("buy-button");

      buyButton.addEventListener("click", function() {
        fetch("/buy/item/{{ item.id }}", { method: "GET" })
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
        .catch(error => console.error("Error:", error));
      });
    </script>
  </body>
</html>
